/******************************************************************************\
|* ICELAND
\******************************************************************************/

$iceland-white: #fff;
$iceland-blue:  rgb(0, 82, 165);
$iceland-red:   rgb(215, 31, 41);

.flag-iceland {
    // Proportions
    $horizontal: 7 1 2 1 14;
    $vertical:   7 1 2 1 7;
    
    // Background
    @include flag-3-colours(
        $height-global,
        $iceland-blue,
        $iceland-white,
        $iceland-red,
        $horizontal,
        $vertical
    );
}
