/******************************************************************************\
|* NORWAY
\******************************************************************************/

$norway-white: #fff;
$norway-blue:  rgb(0, 85, 155);
$norway-red:   rgb(210, 16, 52);

.flag-norway {
    // Proportions
    $horizontal: 6 1 2 1 12;
    $vertical:   6 1 2 1 6;
    
    // Background
    @include flag-3-colours(
        $height-global,
        $norway-red,
        $norway-white,
        $norway-blue,
        $horizontal,
        $vertical
    );
}
