/**
 * Colours
 * Denmark's red:   #d21034
 * Finland's blue:  #18447e
 * Sweden's blue:   #00559b
 * Sweden's yellow: #ffce00
 */

html{
    background-color: #eee;
    font-size: 18px;
}

@media (max-width: 600px) {
    html {
        font-size: 15px;
    }
}

@media (max-width: 400px) {
    html {
        font-size: 12px;
    }
}

body {
    margin: 0;
    text-align: center;
    font-family: sweden_sans;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
}

header,
footer {
    margin: 3em;
}

    .title,
    .subtitle {
        margin: 0;
    }

h1 {
    font-size: 3em;
}

p {
    margin: 2em 0;
}

    .compatibility {
        opacity: .75;
    }

a {
    color: #d21034;
}

[class^="flag-"] {
    display: inline-block;
}

.country {
    position: relative;
    padding: 2em 0;
}

    .country * {
        margin: 0;
    }

    .country h3 {
        position: relative;
        margin-bottom: 1em;
    }

    .country::before {
        content: "";
        display: block;
        width: 100%;
        top: 0;
        position: absolute;
        left: 0;
        bottom: 0;
    }
    
    .denmark::before,
    .iceland::before,
    .sweden::before {
        background-color: white;
    }
